:root {
    --pallete-color-grey-1: #e1e1e1;
    --pallete-color-grey-2: #dcd9d9;


    --pallete-color-font-1: #1e1e1e;
    --pallete-color-font-2: #7a7777;

    --pallete-color-main-1: #2e7007;

    --pallete-color-red-1: #da1919;
}